In [0]:
#Hello
import pandas as pd
import string
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn_pandas import DataFrameMapper
from xgboost import XGBClassifier
from sklearn import preprocessing
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [0]:
df = pd.read_csv('train.csv', index_col="Loan_ID")
test_df = pd.read_csv("test.csv", index_col = "Loan_ID")

In [3]:
df.head()

         Loan_Amount_Requested Length_Employed  ...  Gender  Interest_Rate
Loan_ID                                         ...
10000001                 7,000        < 1 year  ...  Female              1
10000002                30,000         4 years  ...  Female              3
10000003                24,725         7 years  ...    Male              3
10000004                16,000        < 1 year  ...    Male              3
10000005                17,000         8 years  ...  Female              1

[5 rows x 13 columns]

In [4]:
test_df.head()

         Loan_Amount_Requested Length_Employed  ... Total_Accounts  Gender
Loan_ID                                         ...
10164310                27,500       10+ years  ...             37    Male
10164311                26,000       10+ years  ...             23    Male
10164312                 6,075        < 1 year  ...             20    Male
10164313                12,000       10+ years  ...              8    Male
10164314                35,000        < 1 year  ...             21    Male

[5 rows x 12 columns]

In [5]:
df.isna().sum()

Loan_Amount_Requested          0
Length_Employed             7371
Home_Owner                 25349
Annual_Income              25102
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    88379
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
Interest_Rate                  0
dtype: int64

In [6]:
test_df.isna().sum()

Loan_Amount_Requested          0
Length_Employed             4936
Home_Owner                 16711
Annual_Income              16898
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    58859
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
dtype: int64

#### Handling missing data

In [0]:
def cleaning_data(df):
    df["Loan_Amount_Requested"] = df["Loan_Amount_Requested"].str.replace(",","")
    df["Loan_Amount_Requested"] = df["Loan_Amount_Requested"].astype(float)
    df["Length_Employed"] = df["Length_Employed"].str.replace('< 1 year','0')
    df["Length_Employed"] = df["Length_Employed"].str.replace(r'[><+]+',"")
    df["Length_Employed"] = df["Length_Employed"].str.extract('(\d+)').astype(float)
    df["Length_Employed"] = df["Length_Employed"].transform(lambda x: x.fillna(-99999))
    df["Annual_Income"] = df.groupby(["Length_Employed"])["Annual_Income"].transform(lambda x: x.fillna(x.median()))
    #df["Home_Owner"] = df["Home_Owner"].transform(lambda x: x.fillna("-1"))
    df["Months_Since_Deliquency"] = df["Months_Since_Deliquency"].transform(lambda x: x.fillna(-1))
    return df

In [0]:
df = cleaning_data(df)
test_df = cleaning_data(test_df)

In [0]:
from scipy import stats
def normalize_data(df, test_df):
    scaler = MinMaxScaler()
    df["Loan_Amount_Requested"] = scaler.fit_transform(df[["Loan_Amount_Requested"]])
    test_df["Loan_Amount_Requested"] = scaler.transform(test_df[["Loan_Amount_Requested"]])
    df["Length_Employed"] = scaler.fit_transform(df[["Length_Employed"]])
    test_df["Length_Employed"] = scaler.transform(test_df[["Length_Employed"]])
    df["Annual_Income"] = scaler.fit_transform(df[["Annual_Income"]])
    test_df["Annual_Income"] = scaler.transform(test_df[["Annual_Income"]])
    df["Months_Since_Deliquency"] = scaler.fit_transform(df[["Months_Since_Deliquency"]])
    test_df["Months_Since_Deliquency"] = scaler.transform(test_df[["Months_Since_Deliquency"]])
    df["Debt_To_Income"] = scaler.fit_transform(df[["Debt_To_Income"]])
    test_df["Debt_To_Income"] = scaler.transform(test_df[["Debt_To_Income"]])
    df["Number_Open_Accounts"] = scaler.fit_transform(df[["Number_Open_Accounts"]])
    test_df["Number_Open_Accounts"] = scaler.transform(test_df[["Number_Open_Accounts"]])
    df["Total_Accounts"] = scaler.fit_transform(df[["Total_Accounts"]])
    test_df["Total_Accounts"] = scaler.transform(test_df[["Total_Accounts"]])
    df["Inquiries_Last_6Mo"] = scaler.fit_transform(df[["Inquiries_Last_6Mo"]])
    test_df["Inquiries_Last_6Mo"] = scaler.transform(test_df[["Inquiries_Last_6Mo"]])
    return df, test_df

In [0]:
original_df = df.copy()
df = df.drop(["Interest_Rate"], axis=1)

In [0]:
scaled_features_df, scaled_features_test_df = normalize_data(df, test_df)

In [12]:
scaled_features_df.head()

          Loan_Amount_Requested  Length_Employed  ... Total_Accounts  Gender
Loan_ID                                           ...
10000001               0.188406          0.99990  ...       0.077922  Female
10000002               0.855072          0.99994  ...       0.142857  Female
10000003               0.702174          0.99997  ...       0.090909    Male
10000004               0.449275          0.99990  ...       0.129870    Male
10000005               0.478261          0.99998  ...       0.181818  Female

[5 rows x 12 columns]

In [13]:
scaled_features_test_df.head()

          Loan_Amount_Requested  Length_Employed  ... Total_Accounts  Gender
Loan_ID                                           ...
10164310               0.782609           1.0000  ...       0.227273    Male
10164311               0.739130           1.0000  ...       0.136364    Male
10164312               0.161594           0.9999  ...       0.116883    Male
10164313               0.333333           1.0000  ...       0.038961    Male
10164314               1.000000           0.9999  ...       0.123377    Male

[5 rows x 12 columns]

In [0]:
def label_encode(df):
    onehotlabels = pd.get_dummies(df, prefix=None, prefix_sep='_', 
                       dummy_na=True, columns=["Income_Verified","Home_Owner","Purpose_Of_Loan","Gender"], sparse=False, 
                       drop_first=False, dtype=None)
    return onehotlabels

In [0]:
scaled_features_df = label_encode(scaled_features_df)
scaled_features_test_df = label_encode(scaled_features_test_df)

In [16]:
scaled_features_df

          Loan_Amount_Requested  Length_Employed  ...  Gender_Male  Gender_nan
Loan_ID                                           ...
10000001               0.188406          0.99990  ...            0           0
10000002               0.855072          0.99994  ...            0           0
10000003               0.702174          0.99997  ...            1           0
10000004               0.449275          0.99990  ...            1           0
10000005               0.478261          0.99998  ...            0           0
...                         ...              ...  ...          ...         ...
10164305               0.586232          1.00000  ...            1           0
10164306               0.159420          0.99998  ...            1           0
10164307               0.572464          1.00000  ...            1           0
10164308               0.275362          0.99994  ...            0           0
10164309               0.253623          1.00000  ...            0           0

[164309 rows x 36 columns]

In [17]:
scaled_features_test_df.head()

          Loan_Amount_Requested  Length_Employed  ...  Gender_Male  Gender_nan
Loan_ID                                           ...
10164310               0.782609           1.0000  ...            1           0
10164311               0.739130           1.0000  ...            1           0
10164312               0.161594           0.9999  ...            1           0
10164313               0.333333           1.0000  ...            1           0
10164314               1.000000           0.9999  ...            1           0

[5 rows x 36 columns]

In [0]:
X_train = scaled_features_df

In [19]:
X_train

          Loan_Amount_Requested  Length_Employed  ...  Gender_Male  Gender_nan
Loan_ID                                           ...
10000001               0.188406          0.99990  ...            0           0
10000002               0.855072          0.99994  ...            0           0
10000003               0.702174          0.99997  ...            1           0
10000004               0.449275          0.99990  ...            1           0
10000005               0.478261          0.99998  ...            0           0
...                         ...              ...  ...          ...         ...
10164305               0.586232          1.00000  ...            1           0
10164306               0.159420          0.99998  ...            1           0
10164307               0.572464          1.00000  ...            1           0
10164308               0.275362          0.99994  ...            0           0
10164309               0.253623          1.00000  ...            0           0

[164309 rows x 36 columns]

In [0]:
y_train = original_df["Interest_Rate"]

In [21]:
y_train

Loan_ID
10000001    1
10000002    3
10000003    3
10000004    3
10000005    1
           ..
10164305    2
10164306    2
10164307    1
10164308    3
10164309    2
Name: Interest_Rate, Length: 164309, dtype: int64

In [0]:
# A parameter grid for XGBoost
random_grid = {
        'booster' : ['gbtree','dart'],
        'n_estimators' : [300, 350, 500, 650, 800],
        'max_depth': [3, 4, 5, 6, 8, 10],
        'learning_rate' : [0.005, 0.01, 0.02, 0.03, 0.05, 0.07],
        'tree_method' : ['auto', 'exact', 'approx']
        }

In [0]:
xgb = XGBClassifier()

xgb_random = RandomizedSearchCV(estimator = xgb, param_distributions = random_grid,
                                n_jobs=-1)
# Fit the random search model
xgb_random.fit(X_train, y_train)

In [0]:
#import XGBoost classifier and accuracy

learning_rate = xgb_random.best_params_["learning_rate"]
n_estimators = xgb_random.best_params_["n_estimators"]
max_depth = xgb_random.best_params_["max_depth"]
tree_method = xgb_random.best_params_["tree_method"]
booster = xgb_random.best_params_["booster"]

#instantiate model and train
model = XGBClassifier(learning_rate = learning_rate, n_estimators=n_estimators, max_depth=max_depth,
                       tree_method =tree_method, booster = booster, ,n_jobs=-1)
model.fit(X_train, y_train)

In [0]:
predictions = model.predict(scaled_features_test_df)

In [0]:
output_df = pd.DataFrame({'Loan_ID': scaled_features_test_df.index, 'Interest_Rate': predictions})

In [0]:
output_df.to_csv("solution.csv", index=False)